<div id="page">

    <div id="content">
        {{#if result }}
            <p><b>Результат {{ result }}</b></p>
        {{/if }}

        <form action="/search" method="post">
            <label for="q">Адрес получателя для поиска:</label><input type="email" name="q"/>
            <input type="submit" value="Искать">
        </form>

        {{#if message}}
            <h1>Message</h1>
            {{#if messages_excess }}
                <p><b>Найдено {{ messages_excess }} записей, выведено 100</b></p>
            {{/if }}
            <table>
                <tr>
                    <th>created</th>
                    <th>str</th>
                </tr>
                {{#each message}}
                    <tr>
                        <td>{{created}}</td>
                        <td>{{str}}</td>
                    </tr>
                {{/each}}
            </table>
        {{/if }}

    </div>
    <div id="sidebar">
        <ul id="sidebar-items">
            <li>
                <h3>Меню</h3>
                <ul class="links">

                    <li><a href="http://localhost/">Главная</a></li>
                    <li><a href="http://localhost/parseLog">Загрузить и распарсить файл</a></li>
                    <li><a href="http://localhost/showFile">Показать файл</a></li>
                    <li><a href="http://localhost/initDB">Проинициализировать БД</a></li>
                    <li><a href="http://localhost/logToDB">Загрузить лог в БД</a></li>
                    <li><a href="http://localhost/showDB">Посмотреть лог в БД</a></li>
                    <li><a href="http://localhost/search">Поиск в логе</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>